.invalid{
    color: red;
}

label {
    margin-right: 5px;
}
/* .form{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
} */

.heading {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.text-container {
    text-align: center;
    font-size: 30px;
    font-family: italic;
    margin-bottom: 50px;
    padding: 10px;
    color: #555;
}

.company {
    margin-right: 15px;
    
}

.mobile {
    margin-right: 45px;
    
}

.email{
    margin-right: 50px;
}

.location {
    margin-right: 15px;
}

.main-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 100px; 
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


.card {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-color: 1px solid green; */
    border: 1px solid #0f0f0f;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(198, 193, 202);
    font-weight: bold;
    /* color: black; */
    color: #333;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-scene-with-geometrical-forms-the-poster-model-minimal-background-render-image_437743.jpg');   */
}



.postbutton {
    margin-left: 125px; 
    width: 10%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: green;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.postbutton:hover {
    background-color: darkgreen;
}

.deletebutton {
    margin-right: 50px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.deletebutton:hover {
    background-color: #333;
}

.updatebutton {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.updatebutton:hover {
    background-color: #0056b3;
}

.form-row {
    margin-left: 20px;
}

.main {
    font-weight: 600;
    background-image: url('https://www.athletadesk.com/wp-content/uploads/2016/08/join-background.jpg');
    background-size: cover;
    min-height: 100vh;
}

.addemployee {
    margin-left: 500px;
    color: #fff;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}




.updatebutton {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.updatebutton:hover {
    background-color: #0056b3;
}




.form-row {
    margin-left: 20px; 
}
.main{
    /* background-color: #007bff; */
    font-weight: 600;
    background-image: url('https://www.athletadesk.com/wp-content/uploads/2016/08/join-background.jpg');
    background-size: cover;
}
.addemployee {
    margin-left: 500px; 
    color: aliceblue;
    margin-top: 50px;
}

